// google fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
html {
  box-sizing: border-box;
  font-size: 100%;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  font-family: 'Inter', sans-serif;
  font-size: 0.938rem;
  margin: 0;
  padding: 0;
  background-color: var(--off-white);
}